.movieDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 27vw;
    height: auto ;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify
}

.posterMovie {
    height: 400px;
    width: 300px;
    border-radius: 5px;
}

h2 {
    margin: 10px 0;
    color: #333;
}

p {
    margin: 10px 0;
    
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
}
.AddDataBtn, .LogoutBtn{
    color: white;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 5px 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}
.AddDataBtn{
    background-color: green;
}
.LogoutBtn{
    background-color: navy;
}
.nav{
    /* width: 100%;  */
    display: flex;
    align-items: center ;
    justify-content: space-between;

    padding: 10px;
}
.EditButton{
    height: 30px;
    width: 70px;
    background-color: rgb(207, 56, 179);
    color: white;
    border: none;
    margin: 5px;
}
.DeleteButton{
    height: 30px;
    width: 70px;
    background-color: rgba(56, 104, 224, 0.84);
    color: white;
    border: none;   
    margin: 5px;
}
.name{
    font-size: 28px;
}
.mainHeading{
    font-family:cursive ;
        font-size: 50px;

}