.LoginFormDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.LoginForm{
    height: 50vh;
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center  ;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.loginBtn{
    height: 40px;
    width: 100px;
    background-color: #141414;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
