
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding: 0;
}
body {
  /* background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(192, 192, 192)); */
  background-image: linear-gradient(to bottom right, #78A3AB, #FBC2EB);
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mainPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-items: center;
}
